## .NET
bin/
obj/
[Bb]uild/
[Bb]uild[Ll]og.*

## User-specific files
*.user
*.suo
*.userprefs
.vs/

## Test results
TestResults/
coverage/

## Local persistence
*.db-shm
*.db-wal

## IDEs
.idea/
.vscode/

## OS files
.DS_Store
